body {
  margin: 0;
  padding: 0;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #333333;
  color: #ffffff;
  font-size: 25px;
  list-style: none;
  overflow: hidden;
}

#nav li {
  width: 140px;
  text-align: center;
  background-color: #333333;
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}
#nav a {
  text-decoration: none;
}
#nav a:link {
  color: #ffffff;
}
#nav a:visited {
  color: #ffffff;
}
#nav a:active {
  color: #ffffff;
}

#nav li:hover{
  background-color: #666666;
}

/*#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}*/

.contents {
  margin: 50px 0px 100px 100px;
  width: 100%+50px;
  overflow: auto;
}

.contents h0 {
  background-color: #333333;
  color: #fff;
  text-align: center;
  font-size: 35px;
}

.contents h1 {
  width: 100%+150px;
  background-color: #333333;
  color: #ffffff;
}
.contents h2 {
  width: 100%+150px;
  background-color: #7ec7d8;
  /*background-color: #a2d7dd;*/
  /*color: #ffffff;*/
}

.contents h3 {
  width: 100%+150px;
  background-color: #bce1df;
  /*background-color: #a2d7dd;*/
}

.contents p {
  width: 70%;
}

.contents img.phone {
  width: 27%;
}

.contents img {
  width: 40%;
}